/* ------- Fonts ------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ------- common style ------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: #2D25A0;
}
.first-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}
.first-page img{
    width: 100%;
}
.first-page:hover .photo{
    transform: skew(-30deg);
    transition: transform 2s ease-in-out;
}
h1{
    font-size: 64px;
    color: white;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
}
.arrow-button{
    margin-left: 5px;
}
/* ------- this is player info area ------- */

.football-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
}

.football-player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 27px;
}
.player-details{
    width: 300px;
    height: 154px;
}
.player-image img{
    width: 100%;
}

.player-name{
    color: #18191F;
}
.player-info{
    color: #6C6C6C;
}

/* this is our footer area  */

.footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 483px;
    height: 213px;
    margin-left: 400px;
}
.footer-area .footer-image img {
    width: 483px;
    height: 110px;
}
.social-media{
    margin-left: 14px;
}
.footer-area p{
    font-size: 10px;
}



/* ------- media quire for risposive our website ------- */


/* ------- Mobile device ------- */
@media only screen and (max-width:688px) {
    .first-page, .football-players{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-area{
        margin-left: 0px;
    }
    
}

/* ----- tablate device ------- */
@media only screen and (min-width:688px)and (max-width:992px) {
    .first-page{
        grid-template-columns: repeat(1, 1fr);
    }
    .football-players{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-area{
        margin-left: 160px;
    }
    
}